attrs==25.3.0 ; python_version >= "3.11" and python_version < "4"
boto3==1.37.16 ; python_version >= "3.11" and python_version < "4"
botocore==1.37.16 ; python_version >= "3.11" and python_version < "4"
cattrs==24.1.2 ; python_version >= "3.11" and python_version < "4"
certifi==2025.1.31 ; python_version >= "3.11" and python_version < "4"
charset-normalizer==3.4.1 ; python_version >= "3.11" and python_version < "4"
click==8.1.8 ; python_version >= "3.11" and python_version < "4"
colorama==0.4.6 ; python_version >= "3.11" and python_version < "4"
deepdiff==6.7.1 ; python_version >= "3.11" and python_version < "4"
faker==37.0.2 ; python_version >= "3.11" and python_version < "4"
gitdb==4.0.12 ; python_version >= "3.11" and python_version < "4"
gitpython==3.1.44 ; python_version >= "3.11" and python_version < "4"
idna==3.10 ; python_version >= "3.11" and python_version < "4"
jmespath==1.0.1 ; python_version >= "3.11" and python_version < "4"
jsonref==1.1.0 ; python_version >= "3.11" and python_version < "4"
jsonschema-specifications==2024.10.1 ; python_version >= "3.11" and python_version < "4"
jsonschema==4.23.0 ; python_version >= "3.11" and python_version < "4"
loguru==0.7.3 ; python_version >= "3.11" and python_version < "4"
markdown-it-py==3.0.0 ; python_version >= "3.11" and python_version < "4"
mdurl==0.1.2 ; python_version >= "3.11" and python_version < "4"
numpy==1.24.4 ; python_version >= "3.11" and python_version < "3.12"
numpy==1.26.4 ; python_version >= "3.12" and python_version < "4"
ordered-set==4.1.0 ; python_version >= "3.11" and python_version < "4"
platformdirs==4.3.7 ; python_version >= "3.11" and python_version < "4"
pyarrow==16.1.0 ; python_version >= "3.11" and python_version < "4"
pydash==8.0.5 ; python_version >= "3.11" and python_version < "4"
pygments==2.19.1 ; python_version >= "3.11" and python_version < "4"
python-dateutil==2.9.0.post0 ; python_version >= "3.11" and python_version < "4"
referencing==0.36.2 ; python_version >= "3.11" and python_version < "4"
requests-cache==1.2.1 ; python_version >= "3.11" and python_version < "4"
requests==2.32.3 ; python_version >= "3.11" and python_version < "4"
rfc3986-validator==0.1.1 ; python_version >= "3.11" and python_version < "4"
rich==13.9.4 ; python_version >= "3.11" and python_version < "4"
rpds-py==0.23.1 ; python_version >= "3.11" and python_version < "4"
s3transfer==0.11.4 ; python_version >= "3.11" and python_version < "4"
semver==3.0.4 ; python_version >= "3.11" and python_version < "4"
shellingham==1.5.4 ; python_version >= "3.11" and python_version < "4"
simplejson==3.20.1 ; python_version >= "3.11" and python_version < "4"
six==1.17.0 ; python_version >= "3.11" and python_version < "4"
smart-open==7.1.0 ; python_version >= "3.11" and python_version < "4"
smmap==5.0.2 ; python_version >= "3.11" and python_version < "4"
tenacity==8.5.0 ; python_version >= "3.11" and python_version < "4"
ts-dataweave==1.0.4 ; python_version >= "3.11" and python_version < "4"
ts-ids-validator==1.1.0 ; python_version >= "3.11" and python_version < "4"
ts-sdk==2.2.4 ; python_version >= "3.11" and python_version < "4"
typer==0.14.0 ; python_version >= "3.11" and python_version < "4"
typing-extensions==4.12.2 ; python_version >= "3.11" and python_version < "4"
tzdata==2025.1 ; python_version >= "3.11" and python_version < "4"
url-normalize==1.4.3 ; python_version >= "3.11" and python_version < "4"
urllib3==2.3.0 ; python_version >= "3.11" and python_version < "4"
win32-setctime==1.2.0 ; python_version >= "3.11" and python_version < "4" and sys_platform == "win32"
wrapt==1.17.2 ; python_version >= "3.11" and python_version < "4"
