examples/r-exec-ssp/taskscript-r-exec-ssp/node_modules/.cache/prettier/.prettier-caches/6a174b5fc4fb7f9be1ae41118dd06835a00e5c73.json
.DS_Store
/examples/r-exec-ssp/taskscript-r-exec-ssp/__tests__
/examples/r-exec-ssp/taskscript-r-exec-ssp/ts_task_script_r_exec/__pycache__
examples/r-exec-ssp/taskscript-r-exec-ssp/__pycache__/main.cpython-311.pyc
